body {
  background-image: url("bus.png");
}

#clock_frame {
    color: #2f38c0;
    background-color: rgb(198, 237, 255);
    font-family: "Gill Sans", sans-serif;
    font-size: 25px;
    width: 200px;
    margin-left: 10px;
}

#bus_area, #bus_area2, #bus_area3, #bus_area4 {
    color: #2f38c0;
    background-color: #f2ffe7;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
    width: 160px;
    margin-left: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

#area {
    display: flex;
}

#bus, #nbus, #nnbus, #bus2, #nbus2, #nnbus2, #bus3, #nbus3, #nnbus3, #bus4, #nbus4, #nnbus4 {
    color: rgb(255, 0, 43);
    text-align: right;
    display: block;
    margin-right: 10px;
}

#timeLeft, #timeLeft2, #timeLeft3, #timeLeft4 {
    background-color: aquamarine;
}

#btn input {
    margin-right: 5px;
}

.jikoku {
    margin-left: 33px;

}